---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import SectionRenderer from "../../components/sections/SectionRenderer.astro";

export async function getStaticPaths() {
  const features = await getCollection("features");
  return features.map((feature) => ({
    params: { slug: feature.id },
    props: feature,
  }));
}
type Props = CollectionEntry<"features">;

const feature = Astro.props;
const { Content } = await render(feature);
---

<!doctype html>
<html lang="en">
  <head></head>
  <BaseHead title={feature.data.title} description={feature.data.description} />

  <body>
    <main class="max-w-7xl mx-auto px-4">
      <article class="flex flex-col gap-12">
        <header class="flex flex-col gap-2 pt-16">
          <h1 class="text-center text-4xl!">
            {feature.data.title}
          </h1>
          <p class="text-center text-base max-w-4xl mx-auto">
            {feature.data.description}
          </p>
          {feature.data.buttonText && feature.data.buttonLink && (
            <a
              href={feature.data.buttonLink}
              class="text-center text-base bg-[#A9E000] mx-auto py-3 px-5 rounded-md text-black!"
            >
              {feature.data.buttonText}
            </a>
          )}
          {feature.data.heroImage && (
            <img
              src={feature.data.heroImage}
              alt={feature.id}
              width="840px"
              class="mx-auto mt-10"
            />
          )}
        </header>

        {feature.data.sections && feature.data.sections.length > 0 && (
          <div class="sections">
            {feature.data.sections.map((section) => (
              <SectionRenderer section={section} />
            ))}
          </div>
        )}

        <div class="prose prose-lg max-w-none">
          <Content />
        </div>
      </article>
    </main>
  </body>
</html>
